<div class="container">	
	<p><strong>Simple-Navigation</strong> is a ruby library for creating navigations (with multiple levels) for your Rails applications. Some of the key features include:</p>
	<div class="center">
		<p>define your navigation in a config file, not inside the views</p>
		<p>create as many navigation levels as you like</p>
		<p>render all your navigation levels as a nested tree or render each level separately</p>
		<p>automatic highlighting of the active navigation item</p>
	</div>
	<p>Simple-Navigation <strong>basically works like this:</strong></p>
	<div class="center">
		<p>You define your navigation with all its levels in the <strong>config-file</strong></p>
		<p>In the view, you render your configured navigation using the helper-method <strong>render_navigation</strong></p>
	</div>
</div>




